<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>for_kish</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<!-- <string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string> -->
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
	<key>MapirAPIKey</key>
	<string>eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjQ3M2VkZjNjYmEyZGEzMTg0YmVlM2FhZmFlNzFmMWU2ODY5MzRmN2U2OGQ4M2ExMTVlNDk1ZGYwNjAxNTVlOWUyMGM4ZjRjMmYxNDA1YzhkIn0.eyJhdWQiOiI3NzgyIiwianRpIjoiNDczZWRmM2NiYTJkYTMxODRiZWUzYWFmYWU3MWYxZTY4NjkzNGY3ZTY4ZDgzYTExNWU0OTVkZjA2MDE1NWU5ZTIwYzhmNGMyZjE0MDVjOGQiLCJpYXQiOjE1ODA2NDMyMTQsIm5iZiI6MTU4MDY0MzIxNCwiZXhwIjoxNTgzMTQ4ODE0LCJzdWIiOiIiLCJzY29wZXMiOlsiYmFzaWMiXX0.mD7yXohI94Ltv35DLPzclW9ynxW_cp-uXFXHhCky_IUR4EcrlnLdtXitCwVdiKI4zbmuVIMmdzS69VdSytCH5Ow-2v_B-iZBhIRUs1UrT3m0bNymOGuMneHMxze7qR02S0euLVEfK2TwNKZsM7hL7MvEk3lbLcxE0uP3UjtUPDwRFHqDI5S51A5c2Mn8aW2ZONu0nu1Cvh2A6VR2QCXYpaK9gYnoAuvSGkCXZFa_4tEHUDFXxvKugFuv9eJ4JIIQGoIE0EEMUHvy9EHdw7XxGV6--9iUXC6HPvhpLi6a7nvzoR_RNXn1a--wkFUH4E2G173oFoyZlmwtEbAPiZ-8RQ</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs access to location when open.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app needs access to location when in the background.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs access to location when open and in the background.</string>
</dict>
</plist>
